@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.base-typewriter {
	overflow: hidden;
	border-right: 0.15em solid #333;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
}

.animation-1 {
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.animation-2 {
	animation: typing 6.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.animation-3 {
	animation: typing 9.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/*
 Keyframe animations */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}
body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.typewriter h1 {
	overflow: hidden;
	border-right: 0.15em solid #333; /* Cursor-like effect */
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em; /* Adjust the spacing between letters */
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Keyframe animations */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}
